# Maven build directory
/target/

# Maven Wrapper files
/.mvn/
/.gradle/

# Local IDE files
.idea/
.vscode/

# Operating system files (macOS, Windows, etc.)
.DS_Store
Thumbs.db

# Log files
*.log

# Local configuration files (e.g., application.properties with sensitive data)
application.properties

# Docker
.docker/

# Java compiled class files
*.class

# IntelliJ IDEA specific files
*.iml
out/

# Other build directories
build/